#!/usr/bin/make -f
# debian/rules for samhain
# Copyright (C) 2001 to 2003 by Javier Fernandez-Sanguino
# based on
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
# export DH_COMPAT=5

# Disable dnmalloc for most architectures except for
# those known to work (i386 and amd64).
# For more information see:
# http://www.la-samhna.de/samhain/manual/dnmalloc.html
ifeq (linux,$(DEB_HOST_ARCH_OS))
ifeq (amd64,$(DEB_HOST_ARCH))
DNMALLOC = --enable-dnmalloc
else ifeq (i386,$(DEB_HOST_ARCH))
DNMALLOC = --enable-dnmalloc
else
DNMALLOC = --disable-dnmalloc
endif
else
ifeq (amd64,$(DEB_HOST_ARCH))
DNMALLOC = --enable-dnmalloc
else ifeq (i386,$(DEB_HOST_ARCH))
DNMALLOC = --enable-dnmalloc
else
DNMALLOC = --disable-dnmalloc
endif
endif

ifeq (x86_64,$(DEB_HOST_GNU_CPU))
DISABLE_ASM = --disable-asm
endif

build: build-stamp
build-stamp:
	dh_testdir
#	dh_autoreconf
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f config.sub config.sub.orig
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f config.guess config.guess.orig
	cp -f /usr/share/misc/config.guess config.guess
endif
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
		--with-config-file=/etc/samhain/samhainrc \
		--with-state-dir=/var/state/samhain  \
		--with-prelude \
		$(DNMALLOC) \
		$(DISABLE_ASM) \
		--enable-network=no  \
		--with-pid-file=/var/run/samhain/samhain.pid \
		--with-log-file=/var/log/samhain/samhain.log 
	$(MAKE)
	touch build-stamp

# Builds the server (Yule)
# See http://www.la-samhna.de/samhain/manual/yule.html
build-server: build-server-stamp
build-server-stamp:
	dh_testdir
#	dh_autoreconf
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
		--with-config-file=/etc/yule/yulerc \
		--with-state-dir=/var/state/yule  \
		--with-prelude \
		$(DNMALLOC) \
		--enable-network=server  \
		--with-pid-file=/var/run/samhain/yule.pid \
		--with-log-file=/var/log/samhain/yule.log 
	$(MAKE)
	touch build-server-stamp

# Build the Samhain client 
build-client: build-client-stamp
build-client-stamp:
	dh_testdir
#	dh_autoreconf
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
		--with-config-file=/etc/samhain/samhainrc \
		--with-state-dir=/var/state/samhain  \
		--with-prelude \
		$(DNMALLOC) \
		--enable-network=client \
		--with-pid-file=/var/run/samhain/samhain.pid \
		--with-log-file=/var/log/samhain/samhain.log 
	$(MAKE)
	touch build-client-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp build-server-stamp build-client-stamp
	-[ -f Makefile ] && $(MAKE) distclean
	[ ! -f config.sub.orig ] || mv -f config.sub.orig config.sub
	[ ! -f config.guess.orig ] || mv -f config.guess.orig config.guess
	dh_clean

# TODO: create install targets for client and server
install: build
	dh_testdir
	dh_testroot
#	dh_autoreconf_clean
	dh_clean -k
	dh_installdirs
	# Fix the permissions
	chmod o-rX `pwd`/debian/samhain/var/log/samhain \
		`pwd`/debian/samhain/var/state/samhain \
		`pwd`/debian/samhain/etc/samhain

	$(MAKE) install install-boot DESTDIR=`pwd`/debian/samhain
	# However, remove the rc.d links
	-rm -rf `pwd`/debian/samhain/etc/rc?.d

	# We no longer copy it, it does not seem useful
#	install -m 755 encode `pwd`/debian/samhain/usr/bin/samhain_encode
	# This one should be used, the default one provides
	# much more configuration options which will make warnings appear
	# in a stock Debian system, it is patched, however
	install -m 640 debian/samhainrc `pwd`/debian/samhain/etc/samhain/samhainrc
	install -m 644 debian/samhain.logrotate.d `pwd`/debian/samhain/etc/logrotate.d/samhain

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_installdebconf	
	dh_installdocs 
	[ -f debian/samhain/usr/share/doc/samhain/MANUAL-2_3.html.tar ] && \
		cd debian/samhain/usr/share/doc/samhain && \
		tar xf MANUAL-2_3.html.tar && mv MANUAL-2_3 manual.html && \
		rm -f MANUAL-2_3.html.tar
	dh_installexamples scripts/example_pager.pl \
		scripts/example_sms.pl \
		yulerc.template \
		samhainrc.linux \
		scripts/README \
		scripts/samhainadmin.pl \
		scripts/samhain.cgi \
		scripts/samhain.xsl \
		scripts/samhain.dtd \
		scripts/chroot.sh \
		scripts/*spec
	dh_installmenu
	dh_installinit -- defaults 19 
	dh_installman man/samhain.8 man/samhainrc.5
	dh_installchangelogs docs/Changelog
	dh_link
	dh_strip
	# Remove /var/run/samhain from the package, it is created by the init script
	-rm -rf `pwd`/debian/samhain/var/run/samhain
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

get-orig-source:
	@echo "Retrieving source"
	wget -q -O samhain-current.tar.gz  http://la-samhna.de/samhain/samhain-current.tar.gz
	@echo "Extracting source"
	tar -zxf samhain-current.tar.gz
	@echo "Verifying source"
	# Take the latest version
	file=`tar -ztf samhain-current.tar.gz |grep -v asc | head -1`; \
	gpgfile=`tar -ztf samhain-current.tar.gz |grep asc | head -1`; \
	newfile=`echo $$file | sed -e 's/-/_/; s/\.tar/.orig.tar/'`; \
	mv $$file $$newfile; \
	gpg -q --verify $$gpgfile $$newfile 
	rm -f samhain-current.tar.gz

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
